<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="changeCredentials" method="post">
<input type="text" name="oldusername" placeholder="Enter Old Username"><br>
<input type="text" name="oldpassword" placeholder="Enter Old Password"><br>
<input type="text" name="newusername" placeholder="Enter New Username"><br>
<input type="text" name="newpassword" placeholder="Enter New Password">
<button>Change</button>
</form>
</body>
</html>